[submodule "pixel-cnn"]
	path = pixel-cnn
	url = https://github.com/Aaron-Jin-Xu/pixel-cnn.git
[submodule "dcgan-completion.tensorflow"]
	path = dcgan-completion.tensorflow
	url = https://github.com/Aaron-Jin-Xu/dcgan-completion.tensorflow.git
[submodule "fast-pixel-cnn"]
	path = fast-pixel-cnn
	url = https://github.com/Aaron-Jin-Xu/fast-pixel-cnn.git
